/*@import 'curso_sass'; */
/*GENERALES */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900; }

h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 1.9rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

img {
  max-width: 100%;
  height: auto; }

.button, .comentario form #submit {
  background-color: #a61206;
  color: #ffffff;
  text-decoration: none;
  padding: 0.4rem 3rem;
  transition: all 0.6s ease;
  border-radius: 3px;
  border: none;
  cursor: pointer; }
  .button:hover, .comentario form #submit:hover {
    letter-spacing: 1px;
    background-color: #f19f30; }

.contenedor {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.current_page_item, .current_page_parent {
  border-bottom: 3px solid #f19f30; }

.rojo {
  color: #a61206; }

.texto-centrado {
  text-align: center; }

.clear, .clear::after {
  content: '';
  display: block;
  clear: both; }

.sr-text, .screen-reader-text {
  display: none; }

.texto-rojo {
  color: #a61206; }

/*HEADER */
header.encbezado-sitio {
  border-bottom: 1px solid #c1c1c1;
  /*MEDIA 450PX */
  /*MEDIA 768PX */ }
  header.encbezado-sitio .logo {
    text-align: center; }
    header.encbezado-sitio .logo img {
      width: 100px; }
  header.encbezado-sitio #menu_redes {
    list-style: none;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    header.encbezado-sitio #menu_redes a {
      text-decoration: none;
      font-family: 'FontAwesome';
      position: relative;
      transition: all 2s ease; }
      header.encbezado-sitio #menu_redes a:before {
        font-size: 1.3rem;
        content: '\f082';
        color: #f19f30;
        padding: 0.1rem; }
      header.encbezado-sitio #menu_redes a:hover {
        bottom: 2px; }
    header.encbezado-sitio #menu_redes a[href*='facebook.com']:before {
      content: '\f082'; }
    header.encbezado-sitio #menu_redes a[href*='youtube.com']:before {
      content: '\f166'; }
    header.encbezado-sitio #menu_redes a[href*='google.com']:before {
      content: '\f0d4'; }
    header.encbezado-sitio #menu_redes a[href*='twitter.com']:before {
      content: '\f081'; }
  header.encbezado-sitio .direccion {
    display: none; }
  @media only screen and (min-width: 450px) {
    header.encbezado-sitio .logo {
      text-align: center; }
      header.encbezado-sitio .logo img {
        width: 180px; }
    header.encbezado-sitio .informacion-encabezado {
      text-align: center; }
    header.encbezado-sitio .direccion {
      display: inline-block; } }
  @media only screen and (min-width: 768px) {
    header.encbezado-sitio .logo img {
      width: 250px; }
    header.encbezado-sitio #menu_redes {
      -ms-flex-pack: end;
          justify-content: flex-end; }
    header.encbezado-sitio .contenedor {
      position: relative; }
    header.encbezado-sitio .informacion-encabezado {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right; } }

/*MENU PRINCIPAL */
#menu-principal .menu-responsive {
  text-align: center; }
  #menu-principal .menu-responsive a {
    color: #08783F;
    text-decoration: none; }

#menu-principal #id_menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #08783F;
  padding: 0;
  display: none; }
  #menu-principal #id_menu li {
    width: 100%;
    text-align: center; }
  #menu-principal #id_menu a {
    text-decoration: none;
    transition: all 0.6s ease;
    color: #ffffff;
    padding: 0.5rem 0;
    font-family: 'Open Sans', sans-serif;
    display: block; }
    #menu-principal #id_menu a:hover {
      background-color: #f19f30; }

@media only screen and (min-width: 768px) {
  #menu-principal .menu-responsive {
    display: none; }
  #menu-principal #id_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

/*MENU PIE */
footer {
  border-top: 1px solid #c1c1c1;
  padding: 2rem;
  margin-top: 2rem; }

.class_pie {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto; }
  .class_pie .current_page_item, .class_pie .current_page_parent {
    border-bottom: 0; }
  .class_pie li {
    list-style: none; }
  .class_pie a {
    text-decoration: none;
    text-transform: uppercase; }
  .class_pie .separador {
    margin-left: 10px; }
  .class_pie li:nth-child(5) span {
    display: none; }

.ubicacion_pie {
  text-align: center; }

.copyright {
  text-align: center;
  background-color: #05522b;
  padding: 1rem;
  color: #ffffff;
  font-family: 'Open Sans' , sans-serif;
  font-size: 0.8rem; }

@media only screen and (max-width: 780px) {
  footer {
    display: none; }
  .copyright {
    font-size: 0.5rem;
    text-transform: uppercase; } }

/*TEMPLATES CONTENIDO */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center  center;
  height: 450px;
  margin: 0 auto;
  position: relative; }
  .hero .contenido-hero {
    position: relative; }
    .hero .contenido-hero .texto-hero {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; }
    .hero .contenido-hero h1 {
      color: #ffffff;
      text-align: center;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      line-height: 350px;
      z-index: 2;
      position: relative;
      font-family: 'Raleway',sans-serif; }
  .hero::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }

.principal {
  padding: 40px;
  background-color: #ffffff;
  font-size: 1.1rem;
  position: relative;
  z-index: 5; }

@media only screen and (min-width: 768px) {
  .principal {
    margin-top: -60px; } }

/*NOSOTROS */
.main-cajas img {
  width: 100%;
  margin-bottom: -5px; }

.main-cajas .info-caja {
  padding: 2rem 0; }

.main-cajas > div {
  width: 100%;
  text-align: center;
  color: #ffffff; }

.main-cajas div:nth-child(1) .info-caja {
  background-color: #397A3C; }

.main-cajas div:nth-child(2) .info-caja {
  background-color: #F3C906; }

.main-cajas div:nth-child(3) .info-caja {
  background-color: #D50909; }

@media only screen and (min-width: 480px) {
  .main-cajas > div {
    width: 50%;
    float: left; }
  .main-cajas > div:last-child {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .main-cajas > div {
    width: 33.3% !important;
    float: left; }
    .main-cajas > div .info-caja {
      padding: 3rem; } }

/*ESPECIALIDADES */
.especialidades {
  padding: 0 60px; }
  .especialidades .texto-especialidad h4 {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase; }
    .especialidades .texto-especialidad h4 span {
      float: right;
      font-family: 'Open Sans',sans-serif;
      color: #f19f30; }
  .especialidades .texto-especialidad p {
    color: #424242; }

/*GRID */
@media only screen and (min-width: 768px) {
  .contenedor-grid {
    margin-left: -10px;
    margin-right: -10px; }
    .contenedor-grid::after {
      content: '';
      clear: both;
      display: block; }
  [class*='columnas'] {
    padding: 0 10px;
    float: left; }
  .columnas1-4 {
    width: 25%; }
  .columnas2-4 {
    width: 50%; }
  .columnas3-4 {
    width: 75%; }
  .columnas1-3 {
    width: 33.3%; }
  .columnas2-3 {
    width: 66.6%; } }

/*BLOG */
article img {
  margin-top: 30px; }

article .entrada-blog {
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px; }
  article .entrada-blog .fecha {
    background-color: #f19f30;
    padding: 0.8rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    margin-right: 1.5rem; }
  article .entrada-blog .titulo-entrada {
    font-size: 0.9rem; }
    article .entrada-blog .titulo-entrada h3 {
      text-transform: uppercase; }
    article .entrada-blog .titulo-entrada i {
      color: #f19f30; }
    article .entrada-blog .titulo-entrada .autor {
      text-transform: uppercase;
      margin-top: -22px; }

/*COMENTARIOS DEL BLOG */
.lista-comentarios {
  width: 60%;
  margin: 0 auto; }
  .lista-comentarios ul {
    list-style: none; }
    .lista-comentarios ul li.comment {
      padding: 2rem;
      background-color: #efefef;
      margin-bottom: 1rem;
      border-radius: 7px; }
      .lista-comentarios ul li.comment a {
        text-decoration: none;
        color: #a61206; }
    .lista-comentarios ul cite {
      color: #a61206; }
  .lista-comentarios ul.children li {
    background-color: #ffffff;
    margin-top: 1rem; }

/*ASIDE */
aside #searchform {
  position: relative; }
  aside #searchform #searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: #a61206;
    text-indent: -9999px;
    width: 42px;
    height: 42px;
    background-image: url("../img/buscador.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  aside #searchform input {
    height: 42px;
    width: 100%; }
  aside #searchform h3 {
    font-weight: 700; }

aside ul {
  list-style: none; }
  aside ul a {
    text-decoration: none;
    color: #5b5b5b; }
    aside ul a:hover {
      color: #f19f30; }

/*COMENTARIOS */
.comentario h3 {
  text-align: center;
  font-weight: 700; }

.comentario form label {
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 0.6rem;
  font-weight: 700; }

.comentario form input, .comentario form textarea {
  padding: 5px;
  width: calc(100% - 210px); }

.comentario form p:nth-child(1) {
  text-align: center; }

.comentario form .comment-form-comment label {
  position: relative;
  top: -115px; }

.comentario form .logged-in-as a {
  text-decoration: none;
  color: #5b5b5b; }
  .comentario form .logged-in-as a:hover {
    color: #f19f30; }

.comentario form #submit {
  border: none;
  width: 100%;
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  .comentario {
    width: 50%;
    margin: 0 auto; } }

/*PAGINACION */
.paginacion {
  margin-top: 1.5rem;
  text-align: center;
  background-color: #dbdbdb;
  padding: .5rem;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .paginacion a {
    text-decoration: none;
    color: #a61206; }
  .paginacion .current {
    color: #842f28;
    opacity: 0.6; }

/*GALERIA */
#gallery-1 dl.gallery-item {
  width: 100% !important; }
  #gallery-1 dl.gallery-item img {
    border: none; }
  @media only screen and (min-width: 620px) {
    #gallery-1 dl.gallery-item {
      width: 50% !important; } }
  @media only screen and (min-width: 768px) {
    #gallery-1 dl.gallery-item {
      width: 25% !important; } }

/* CONTACTANOS*/
.contenido-contact-page {
  padding: 2rem;
  background-image: url("../img/contacto_bg.jpg");
  background-repeat: no-repeat;
  background-position: top left; }

.contacto form.reserva-contacto {
  margin-bottom: 4rem; }
  .contacto form.reserva-contacto .campo input, .contacto form.reserva-contacto .campo textarea {
    margin-bottom: 0.6rem;
    height: 2rem;
    width: 100%;
    padding: 1rem;
    text-align: center; }
  .contacto form.reserva-contacto .campo input::-webkit-input-placeholder {
    color: #424242; }
  .contacto form.reserva-contacto .campo input::-moz-placeholder {
    color: #424242; }
  .contacto form.reserva-contacto .campo input:-ms-input-placeholder {
    color: #424242; }
  .contacto form.reserva-contacto .campo input::placeholder {
    color: #424242; }
  .contacto form.reserva-contacto .campo textarea {
    height: 6rem; }
  .contacto form.reserva-contacto .button, .contacto .comentario form.reserva-contacto #submit, .comentario .contacto form.reserva-contacto #submit {
    width: 100%; }

@media only screen and (min-width: 768px) {
  .contacto form.reserva-contacto {
    margin-left: 50%; } }

.front-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 600px;
  padding: 2rem; }
  .front-page h1 {
    margin-top: 3rem;
    line-height: 0 !important;
    font-size: 1.1rem; }
  .front-page p {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    width: 100%; }
  .front-page a {
    background-color: #f19f30;
    z-index: 2;
    margin: 0 auto;
    transition: all 0.7s ease; }
    .front-page a:hover {
      background-color: #a61206; }
  @media only screen and (min-width: 533px) {
    .front-page h1 {
      margin-top: 7rem;
      font-size: 2rem; }
    .front-page p {
      width: 60%;
      margin-left: 20%; } }

.home .contenido-especialidad {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff; }
  .home .contenido-especialidad .informacion-platillo {
    margin: 0 auto;
    overflow: hidden;
    padding: 3rem;
    background-color: rgba(241, 159, 48, 0.8);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0; }
  .home .contenido-especialidad:hover .informacion-platillo {
    top: 0;
    opacity: 1; }
  .home .contenido-especialidad .precio {
    font-size: 2.5rem;
    margin: 0 auto 2rem; }
  .home .contenido-especialidad .button:hover, .home .contenido-especialidad .comentario form #submit:hover, .comentario form .home .contenido-especialidad #submit:hover {
    background-color: #f72c1b; }
  @media only screen and (max-width: 767px) {
    .home .contenido-especialidad {
      overflow: visible;
      margin-bottom: 1rem;
      display: block; }
      .home .contenido-especialidad img {
        width: 100%; }
      .home .contenido-especialidad .informacion-platillo {
        position: relative;
        width: 100%;
        opacity: 1;
        top: 0;
        padding: 2rem auto 3rem !important; } }
  @media only screen and (max-width: 991px) {
    .home .contenido-especialidad .informacion-platillo {
      padding: 1rem; }
    .home .contenido-especialidad .precio {
      margin: -0.7rem auto 0.7rem; } }

section.ingredientes {
  background-image: url("../img/bg-ingredientes.jpg");
  margin-top: 40px;
  padding: 80px 40px;
  text-align: center;
  color: #ffffff; }
  section.ingredientes h3 {
    line-height: 60px;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 3rem; }
  section.ingredientes p {
    line-height: 30px;
    font-size: 1.5rem; }
  section.ingredientes .button, section.ingredientes .comentario form #submit, .comentario form section.ingredientes #submit {
    display: block; }
  section.ingredientes .imagen {
    padding-top: 2rem;
    moz-animation: auto; }
  @media only screen and (min-width: 768px) {
    section.ingredientes {
      text-align: left; }
      section.ingredientes .button, section.ingredientes .comentario form #submit, .comentario form section.ingredientes #submit {
        display: inline-block; } }

section.front-gallery {
  margin-top: 4rem !important; }

.ubicacion-reservacion {
  background-image: url("../img/bg-ingredientes.jpg");
  margin-top: 3rem; }

.home form.reserva-contacto {
  padding: 3rem 5rem; }
  .home form.reserva-contacto h3 {
    color: #ffffff; }
  .home form.reserva-contacto input, .home form.reserva-contacto textarea {
    background-color: transparent; }
  .home form.reserva-contacto input::-webkit-input-placeholder, .home form.reserva-contacto input[type='datetime-local'], .home form.reserva-contacto textarea::-webkit-input-placeholder {
    color: #ffffff !important; }
  .home form.reserva-contacto input::-moz-placeholder, .home form.reserva-contacto input[type='datetime-local'], .home form.reserva-contacto textarea::-moz-placeholder {
    color: #ffffff !important; }
  .home form.reserva-contacto input:-ms-input-placeholder, .home form.reserva-contacto input[type='datetime-local'], .home form.reserva-contacto textarea:-ms-input-placeholder {
    color: #ffffff !important; }
  .home form.reserva-contacto input::placeholder, .home form.reserva-contacto input[type='datetime-local'], .home form.reserva-contacto textarea::placeholder {
    color: #ffffff !important; }
  .home form.reserva-contacto input[type='submit'] {
    background-color: #a61206;
    transition: all 0.8s ease; }
    .home form.reserva-contacto input[type='submit']:hover {
      background-color: #f19f30; }
  @media only screen and (min-width: 768px) {
    .home form.reserva-contacto {
      margin-left: 20% !important;
      padding: 5rem 7rem 2rem 0; } }

#mapa {
  height: 650px; }
