$principal:#08783F;
$gris : #c1c1c1;
$blanco: #f2f2f2;
$oscuro: darken($principal,8);
$naranja: #f19f30;
$rojo : #a61206;
// GENERALES
html {
	box-sizing: border-box;
}
*,*:after,*:before {
	box-sizing: inherit;
}
body {
	font-family: 'Open Sans', sans-serif;

}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
h1{font-size:48px;}
h2{font-size:40px;}
h3{font-size:28px;}
h4{font-size:24px;}
img{max-width:100%;height: auto;}
.boton-rojo {
	text-decoration: none;
	background-color: $rojo;
	padding: 5px 45px;
	color:$blanco;
	border-radius: 5px;
	float: left;
	font-family: 'Open Sans',sans-serif;
	transition: all 0.7s ease;
	&:hover {
		background-color: $naranja;
		letter-spacing: 2px;
	}
}
.screen-reader-text {
	display: none;
}
.contenedor {
	max-width: 1100px; 
	width: 100%;
	margin: 0 auto;
}
.texto-centrado {
	text-align: center;
}
.texto-rojo {
	color: $rojo;
}

// ENCABEZADO
header {
	&.encabezado-sitio {
		border-bottom: 1px solid $gris;
		padding-bottom: 2rem;
	}
	
	.logo {
		text-align: center;
		img {
			width: 250px;
		}
	}
	.direccion {
		text-align: center;
		// REDES SOCIALES
	}
	#menu_redes {
		 .sr-text {
			display: none;
		}
		padding: 0;
		display: flex;
		list-style: none;
		text-align: center;
		justify-content: space-around;
		a {
			text-decoration: none;
			&:before {
				font-family: 'FontAwesome';
				vertical-align: top;
				padding: 0 5px;
				content: '\f08e';
				font-size: 30px;
				color: #000000;
				// -webkit-font-smoothing: antialiased;
			}
		}
		a[href*='facebook.com']::before{content:'\f230'}
		a[href*='twitter.com']::before{content:'\f081'}
		a[href*='google.com']::before{content:'\f0d4'}
		a[href*='youtube.com']::before{content:'\f166'}
	}

	@media only screen and (min-width:768px){
		.logo {
			text-align: center;
		}
		&.encabezado-sitio .contenedor {
			position: relative;
		}
		& .direccion p{
			text-align: right;
		}
		.informacion-encabezado {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

}
// MENU PRINCIPAL
.menu_principal {

	.menu_responsive {
		text-align: center;

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $oscuro;
			display: block;
			padding: .3rem;
			background-color: $naranja;
		}
	}
	nav.menu-sitio {
		display: none;
		.class_menu {
			display: flex;
			list-style: none;
			flex-direction: column;
			width: 100%;
			padding-left: 0;
			margin: 0;
		}
		.current_page_item {
			border-bottom: 2px solid $oscuro;
		}
		li {
			text-align: center;
			padding: 0.5rem;
			transition: all .7s ease;
			width: 100%;
			&:hover {
				background-color: $naranja;
			}
		}
		a {
	 		text-decoration: none;
			color: $oscuro;
			width: 100%;
			& span {
				text-transform: uppercase;
			}
			
		}
		
	}
}

		@media only screen and (min-width:768px){
			nav.menu-sitio {
				display: block!important;
			}
			.menu_responsive a {
				display: none!important;
			}
			
			.class_menu {
				justify-content: space-around;
				flex-direction: row!important;
			}
		}
// TEMPLATE CONTENIDOS
.hero {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	&::after {
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.6);
	}
}

.texto-hero {
	line-height: 450px;
	color:$blanco;
	z-index: 5;
	position: relative;
}
.contenido-pagina {
	text-align: center;
	padding: 2rem;
	position: relative;
	top:-50px;
	background-color: #ffffff;
}

// FOOTER
footer {
	border-top: 1px solid $gris;
	margin-top: 30px;
	margin: 0 auto;
	.copyright {
		text-align: center;
		font-size: 0.8rem;
	}
	p {
		line-height: .6rem;
	}
	.footer_menu {
		display: none;
		
	}
	@media only screen and (min-width:458px){
		.copyright {
			font-size: 1rem;
		}
		.footer_menu{
			display: block;
			display: flex;
			justify-content: center;
			li {
				list-style: none;
				&:last-child .separador {
					display: none;
				}
			}
			a {
				text-decoration: none;
				text-align: center;
				font-weight: bold;
				color: $principal;
			}
		}
	}
}
// PAGINA NOSOTROS
.informacion-cajas {
	display: flex;
	flex-direction:column;
	margin-bottom: 2rem;
	text-align: center;
	color: $blanco;
	h3 {
		color: $blanco;
		margin: 0;
		font-size: 1.5rem;
	}
	.caja {
		width: 100%;
		margin: 2px;
		display: flex;
		flex-direction: column;
		img{
			width: 100%;
		}
		.contenido-caja {
			height: 228px;
			padding-top: 55px;
		}
		
	}
	& .caja:nth-child(1) .contenido-caja{
		background-color: #EEAF17;
	}
	& .caja:nth-child(2) .contenido-caja{
		height: 228px;
		background-color: #21732D;
		order:1;
	}
	& .caja:nth-child(3) .contenido-caja{
		background-color: #F03421;
	}

}
	@media only screen and (min-width:768px){
		.informacion-cajas {
			display: flex;
			flex-direction: row;
			.caja {
				width: 33.3%;
				margin: 2px;
				img{
					width: 100%;
				}
				.contenido-caja {
					height: 228px;
					padding-top: 55px;
				}
				
			}
			& .caja:nth-child(2) .contenido-caja{
				background-color: #21732D;
				margin: 0;
				order:-1;
			}
		}

	}

// ESPECIALIDADES

.especialidades {

	padding: 0 100px;

	.texto-especialidad {
		p {
			color: darken($gris,50);
		}
		h4{
			padding-bottom: 15px;
			text-transform: uppercase;
			font-weight: 700;
			border-bottom: 1px solid $gris;
			margin: 0;
		}
		span {
			color: $naranja;
			float: right;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
		}
	}

}

// GRID
@media only screen and (min-width:768px){
	
	.contenedor-grid {
		margin-left: 10px;
		margin-right: -10px;
		&::after {
			content:'';
			display: block;
			clear: both;
		}
	}
	[class*='columnas'] {
		padding: 0 10px;
		float: left;
	}
	.columnas1-4 {
		width: 25%;
	}
	.columnas2-4 {
		width: 50%;
	}
	.columnas3-4 {
		width: 75%;
	}
	.columnas1-3 {
		width: 33.3%;
	}
	.columnas2-3 {
		width: 66.6%;
	}
}

// BLOG
article.entrada-blog {

	img {
		margin-top: 25px;

	}
	header.informacion-entrada {
		display: flex;

		h2 {
			margin: 0 25px;
			font-size: 30px;
			font-family: 'Open Sans',sans-serif;
			font-weight: 700;
		}
		.fecha {
			width: 70px;
			height: 70px;
			background-color: $naranja; 
			padding-top: 13px;
		}
		time {
			font-weight: 700;
			text-transform: uppercase;
			font-family: 'Raleway',sans-serif;
		}
		p.autor {
			text-transform: uppercase;
			float: left;
			margin: 5px 25px;
			i {
				color: $naranja;
				font-size: 20px;
			}
		}
		span {
			display: block;

		}
	}
	.contenido-entrada {
		p {
			text-align: justify;
		}

	}
}
// SIDEBAR
aside.sidebar {
	padding: 0 20px;
	position: relative;
	top: -85px;
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 0;
	}
	.widget {
		margin-bottom: 30px;
		ul {
			list-style: none;
			li a {
				text-decoration: none;
				color: darken($gris,40);
				transition: all 0.4s ease;
				&:hover {
					color: $naranja;
				}
			}
		}
	}
	form#searchform {
		position: relative;
		#searchsubmit {
			position: absolute;
			width: 42px;
			height: 42px;
			right: 0;
			top: 0;
			text-indent: -9999px;
			background-image: url("../img/buscador.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-color: $rojo;
			border:none;
			cursor: pointer;
		}
		input {
			width: 100%;
			padding: 11px;
		}
	}
}
#form-comentarios {
	width: 65%;
	margin: 10px auto;
	h3 {
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
	}
	p {
		
		padding-left: 12rem;
		a {
			text-decoration: none;
			color: $naranja;
		}
		label {
			display: block;
		}	
		input {
			width: 65%;
		}	
		textarea {
			padding: 0;
		}
	}
	#submit {
		background-color: $rojo;
		padding: 8px 108px;
		border:none;
		color: $blanco;
	}
}

// COMENTARIOS
.comentarios-resp {
	width: 65%;
	margin: 0 auto;
	ul.ul-comments {
		list-style: none;
		li {
			padding: 20px;
			background-color: lighten($gris,10);
			margin-bottom:15px;
			border-radius: 5px;
		}
		cite {
			font-size: 1.1rem;
			color: $rojo;
		}
		a {
			text-decoration: none;
			color: $rojo;
		}
		ul {
			list-style: none;
			li {
				background-color: #fff;
			}
		}
	}
}
// PAGINACION
.paginacion {
	margin-top: 60px;
	a {
		text-decoration: none;
		color: $naranja;
	}
	.next,.prev {
		color: darken($gris,50);
	}
}
#paginacion {
	margin-top: 4.5rem;
	display: flex;
	justify-content:space-around;
	a,i {
		text-decoration: none;
		color: $naranja;
		transition: all 0.5s ease;
		&:hover {
			color: $rojo;
		}

	}
}

// GALERIA
#gallery-1 {
	.gallery-item {
		width: 100%!important;
	}
	img {
		border: none!important;
	}

}
@media only screen and(min-width:768px){
	#gallery-1 {
		.gallery-item {
			width: 50%!important;
		}

	}
}
@media only screen and(min-width:992px){
	#gallery-1 {
		.gallery-item {
			width: 25%!important;
		}

	}
}