/*@import 'curso_sass'; */
$principal:#08783F;
$gris : #c1c1c1;
$blanco: #ffffff;
$oscuro: darken($principal,8);
$naranja: #f19f30;
$rojo : #a61206;
$negro: #000000;

/*GENERALES */

html {
	box-sizing: border-box;
}
*,*:before,*:after {
	box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}
h1{font-size: 2.3rem}
h2{font-size: 1.9rem}
h3{font-size: 1.5rem}
h4{font-size: 1.2rem}

img {
	max-width:100%;
	height: auto;
}
.button {
	background-color: $rojo;
	color: $blanco;
	text-decoration: none;
	padding: 0.4rem 3rem;
	transition: all 0.6s ease;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	&:hover {
		letter-spacing: 1px;
		background-color: $naranja;
	}
}

.contenedor {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.current_page_item,.current_page_parent  {
	border-bottom: 3px solid $naranja;
}
.rojo{color: $rojo}
.texto-centrado {
	text-align: center;
}
.clear,.clear::after {
	content:'';
	display: block;
	clear: both;
}
.sr-text,.screen-reader-text {
	display: none;
}
.texto-rojo {
	color: $rojo;
}


/*HEADER */
header.encbezado-sitio {
	border-bottom: 1px solid $gris;
	
	.logo {
		text-align: center;
		img {
			width: 100px;
		}
	}
	#menu_redes {
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: center;
		
		a {
			text-decoration: none;
			font-family: 'FontAwesome';
			position: relative;
			transition: all 2s ease;
			&:before {
				font-size: 1.3rem;
				content:'\f082';
				color: $naranja;
				padding: 0.1rem;
			}
			&:hover{
				bottom: 2px;
			}
		}
		a[href*='facebook.com']:before{content:'\f082'};
		a[href*='youtube.com']:before{content:'\f166'};
		a[href*='google.com']:before{content:'\f0d4'};
		a[href*='twitter.com']:before{content:'\f081'};
	}
	.direccion {
		display: none;
	}

	/*MEDIA 450PX */
	@media only screen and(min-width:450px) {
		.logo {
			text-align: center;
			img {
				width: 180px;
			}
		}
		.informacion-encabezado {
			text-align: center;
		}
		.direccion {
			display: inline-block;
		}
		
	}

	/*MEDIA 768PX */
	@media only screen and (min-width:768px) {
		.logo {
			img {
				width: 250px;
			}
		}
		#menu_redes {
			justify-content: flex-end;
		}

		& .contenedor {
			position: relative;
		}
		& .informacion-encabezado {
			position: absolute;
			top: 0;right: 0;
			text-align: right;
		}
	}
}

/*MENU PRINCIPAL */
#menu-principal {
	.menu-responsive {
		text-align: center;
		a {
			color: $principal;
			text-decoration: none;

		}
	}

	#id_menu {
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content:space-around;
		background-color: $principal;
		padding: 0;
		display: none;
		li {
			width: 100%;
			text-align: center;
		}
		a {
			text-decoration: none;
			transition: all 0.6s ease;
			color: $blanco;
			padding: 0.5rem 0;
			font-family: 'Open Sans', sans-serif;
			display: block;
			&:hover {
				background-color: $naranja;
			}
		}

	}
	
	@media only screen and(min-width:768px) {
		.menu-responsive {
			display: none;
		}
		.logo {

		}
		#id_menu {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
	}

}
/*MENU PIE */
footer {
	border-top: 1px solid $gris;
	padding: 2rem;
	margin-top: 2rem;
}
.class_pie {
	display: flex;
	justify-content:space-around;
	width: 60%;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	.current_page_item,.current_page_parent  {
		border-bottom: 0;
	}
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		text-transform: uppercase;
	}
	.separador {
		margin-left: 10px;
	}
	li:nth-child(5) span {
		display: none;
	}
}
.ubicacion_pie {
	text-align: center;
}
.copyright {
	text-align: center;
	background-color: $oscuro;
	padding: 1rem;
	color: $blanco;
	font-family: 'Open Sans' , sans-serif;
	font-size: 0.8rem;
}
@media only screen and (max-width:780px) {
	footer {
		display: none;
	}
	.copyright {
		font-size: 0.5rem;
		text-transform: uppercase;
	}
}



/*TEMPLATES CONTENIDO */
.hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center  center;
	height: 450px;
	margin: 0 auto;
	position: relative;
	.contenido-hero {
		position: relative;
		.texto-hero {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		h1{
			color: $blanco;
			text-align: center;
			align-self:center;
			line-height: 350px;
			z-index: 2;
			position: relative;
			font-family: 'Raleway',sans-serif;
		}
	}
	&::after {
		position: absolute;
		top: 0;left: 0;
		content:'';
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
	}
}
.principal {
	padding: 40px;
	background-color: $blanco;
	font-size: 1.1rem;
	position: relative;
	z-index: 5;
}
@media only screen and(min-width:768px){
	.principal {
		margin-top: -60px;
	}
}

/*NOSOTROS */
.main-cajas {
	img {
		width: 100%;
		margin-bottom: -5px;
	}
	.info-caja {
		padding: 2rem 0;
	}
	& > div {
		width: 100%;
		text-align: center;
		color: $blanco;
	}

	div:nth-child(1) .info-caja{background-color: #397A3C; }
	div:nth-child(2) .info-caja{background-color: #F3C906; }
	div:nth-child(3) .info-caja{background-color: #D50909; }
	@media only screen and(min-width:480px) {
		& > div {
			width: 50%;
			float: left;
		}
		& > div:last-child {
			width: 100%;
		}
	}

	@media only screen and (min-width:768px){
		& > div {
			width: 33.3%!important;
			float: left;
			.info-caja {
				padding: 3rem;
			}
		}
	}
}
/*ESPECIALIDADES */
.especialidades {
	padding: 0 60px;
	.texto-especialidad {
		h4 {
			border-bottom: 1px solid lighten($gris,10);
			padding-bottom: 15px;
			font-weight: bold;
			text-transform: uppercase;
			span {
				float: right;
				font-family: 'Open Sans',sans-serif;
				color: $naranja;
			}
		}
		p {
			color: darken($gris,50);
		}
	}
}

/*GRID */
@media only screen and(min-width:768px) {
	.contenedor-grid {
		margin-left: -10px;
		margin-right: -10px;
		&::after {
			content:'';
			clear: both;
			display: block;
		}
	}
	[class*='columnas'] {
		padding: 0 10px;
		float: left;
	}
	.columnas1-4 {width: 25%; }
	.columnas2-4 {width: 50%; }
	.columnas3-4 {width: 75%; }
	.columnas1-3 {width: 33.3%; }
	.columnas2-3 {width: 66.6%; }

}
/*BLOG */
article {
	img {
		margin-top: 30px;
	}
	.entrada-blog {
		display: flex;
		margin-top: -10px;
		.fecha {
			background-color: $naranja;
			padding:0.8rem;
			align-self:center;
			height: 55px;
			text-align: center;
			font-weight: 700;
			font-size: 0.8rem;
			text-transform: uppercase;
			font-family: 'Raleway',sans-serif;
			margin-right: 1.5rem;
		}
		.titulo-entrada {
			font-size: 0.9rem;
			
			h3 {
				text-transform: uppercase;
			}
			i {
				color: $naranja;
			}
			.autor {
				text-transform: uppercase;
				margin-top: -22px;
			}
		}

	}
}
/*COMENTARIOS DEL BLOG */
.lista-comentarios {
	width: 60%;
	margin: 0 auto;
	ul {
		list-style: none;
		li.comment{
			padding: 2rem;
			background-color: lighten($gris,18);
			margin-bottom: 1rem;
			border-radius: 7px;
			a {
				text-decoration: none;
				color: $rojo;
			}
		}
		cite {
			color: $rojo;
		}
	}
	ul.children li {
		background-color: $blanco;
		margin-top: 1rem;
	}
}

/*ASIDE */
aside {
	#searchform {
		position: relative;
		#searchsubmit {
			position: absolute;
			top: 0;right: 0;
			border: none;
			background-color: $rojo;
			text-indent: -9999px;
			width: 42px;
			height: 42px;
			background-image: url("../img/buscador.png");
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
		input {
			height: 42px;
			width: 100%;
		}
		h3 {
			font-weight: 700;
		}
	}
		ul{
			list-style: none;
			a {
				text-decoration: none;
				color: darken($gris,40);
				&:hover {
					color: $naranja;
				}
			}
		}
}
/*COMENTARIOS */
 .comentario {
 	h3 {
 		text-align: center;
 		font-weight: 700;
 	}
 	form {

 		label {
 			display: inline-block;
 			width: 200px;
 			text-align: right;
 			padding-right: 0.6rem;
 			font-weight: 700;
 		}
 		input,textarea {
 			padding: 5px;
 			width: calc(100% - 210px);
 		}
 		p:nth-child(1) {
 			text-align: center;
 		}
 		.comment-form-comment label {
 			position: relative;
 			top: -115px;
 		}
 		.logged-in-as a{
 			text-decoration: none;
 			color: darken($gris,40);
 			&:hover {
 				color: $naranja;
 			}
 		}
 		#submit {
 			@extend .button;
 			border: none;
 			width: 100%;
 			cursor: pointer;
 		}
 	}
 	@media only screen and(min-width:768px){
		width: 50%;
		margin: 0 auto;
 	}
 } 
/*PAGINACION */
.paginacion {
	margin-top: 1.5rem;
	text-align: center;
	background-color: lighten($gris,10);
	padding: .5rem;
	border-radius: 4px;
	display: flex;
	justify-content:space-around;
	a {
		text-decoration: none;
		color: $rojo;
	}
	.current {
		color: desaturate($rojo,40); 
		opacity: 0.6;
	}
}
/*GALERIA */
#gallery-1 dl.gallery-item{
	width: 100%!important;
	img {
		border: none;
	}
	@media only screen and(min-width:620px) {
			width: 50%!important;

	}
	@media only screen and(min-width:768px) {
			width: 25%!important;
	}
}

/* CONTACTANOS*/
.contenido-contact-page {

		padding: 2rem;
		background-image: url("../img/contacto_bg.jpg");
		background-repeat: no-repeat;
		background-position: top left ;
}
	.contacto {
		form.reserva-contacto {
			margin-bottom: 4rem;
			.campo {

				input, textarea {
					margin-bottom: 0.6rem;
					height: 2rem;
					width: 100%;
					padding: 1rem;
					text-align: center;
				}
				input::placeholder {
					color: darken($gris,50);
				}
				textarea {
					height: 6rem;
				}
			}

			.button {
				width: 100%;
			}

		}
		@media only screen and (min-width:768px) {
			form.reserva-contacto {
				margin-left: 50%;
			}
		}
	}

// INICIO
.front-page {
	display: flex;
	flex-direction:column;
	height: 600px;
	padding: 2rem;
	h1 {
		margin-top: 3rem;
		line-height: 0!important;
		font-size: 1.1rem;
	}
	 p {
		position: relative;
		z-index: 2;
	 	color: $blanco;
	 	font-size: 1.1rem;
	 	text-align: center;
	 	width: 100%;
	 }
	a {
		background-color: $naranja;
		z-index: 2;
		margin: 0 auto;
		transition: all 0.7s ease;
		&:hover {
			background-color: $rojo;
		}
	}
	@media only screen and (min-width:533px){
		h1 {
			margin-top: 7rem;
			font-size: 2rem;
		}
		p {
			width: 60%;
			margin-left: 20%;
		}
	}
}
// ESPECIALIDADES FRONT PAGE
.home .contenido-especialidad{
	position: relative;
	cursor: pointer;
	overflow: hidden;
	color: $blanco;
	.informacion-platillo {
		margin: 0 auto;
		overflow: hidden;
		padding: 3rem;
		background-color: rgba($naranja,0.8);
		position: absolute;
		top: 100%;left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: all 0.5s ease-in-out;
		opacity: 0;
	}
	&:hover .informacion-platillo {
		top: 0;
		opacity: 1;
	}
	.precio {
		font-size: 2.5rem;
		margin: 0 auto 2rem;
	}
	.button:hover {
		background-color: lighten($rojo,20);
	}
	@media only screen and (max-width:767px) {
		overflow: visible;
		margin-bottom: 1rem;
		display: block;
		img {
			width: 100%;
		}
		.informacion-platillo {
			position: relative;
			width: 100%;
			opacity: 1;
			top: 0;
			padding: 2rem auto 3rem!important;
		}
	}
	@media only screen and (max-width:991px) {
		.informacion-platillo {
			padding: 1rem;
		}
		.precio {
			margin: -0.7rem auto 0.7rem	;
		}
	}
}

// INGREDIENTES FRONT PAGE

section.ingredientes {
	background-image: url("../img/bg-ingredientes.jpg");
	margin-top: 40px;
	padding: 80px 40px;
	text-align: center;
	color: $blanco;
	h3 {
		line-height: 60px;
		font-size: 2.5rem;
		font-weight: 700;
		padding-top: 3rem;
	}
	p {
		line-height: 30px;
		font-size: 1.5rem;
	}
	.button {
		display: block;
	}
	.imagen {
		padding-top: 2rem;
		moz-animation:  auto;
	}
	@media only screen and(min-width:768px) {
		text-align: left;
		.button {
			display: inline-block;
		}
	}
}
// GALERIA FRONT PAGE
section.front-gallery {
	margin-top: 4rem!important;
	
}
// FORMULARIO FRONT PAGE
.ubicacion-reservacion {
	background-image: url("../img/bg-ingredientes.jpg");
	margin-top: 3rem;
}
.home form.reserva-contacto {
	padding: 3rem 5rem;
	h3 {
		color: $blanco;
	}
	input,textarea {
		background-color: transparent;
	}
	input::placeholder,input[type='datetime-local'],textarea::placeholder {
		color: $blanco!important;
	}
	input[type='submit'] {
		background-color: $rojo;
		transition: all 0.8s ease;
		&:hover {
			background-color: $naranja;
		}
	}
	@media only screen and (min-width:768px) {
		margin-left: 20%!important;
		padding: 5rem 7rem 2rem 0;
	}
}
// MAPA FRONT PAGE
#mapa {
	height: 650px;
}